@ -0,0 +1,190 @@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  
  body {
    height: 100vh;
    background: #1e1b1b;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  li{
    color:#c7fffb;
  }
  .nav {
    background: #2e2a2a;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100%;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #effefd;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #1c1f24;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#242932;
  }
  
  .nav:hover {
    width: 300px
  }
  
  .title{
    margin-bottom: 60px;
    color: #c7fffb;
  }


  .plansContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:stretch;
      color: white;
      margin-right: 30%;
  }

  .plansBox
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      font-size: 20px;
      border:  3px solid #c7fffb ;
      text-align: center;
      border-radius: 25px;
      padding: 40px;
  }

  .plansBox h2{
      padding-bottom: 10px;
  }

  </style>
</head>
<body>

    <div class="container">
        <ul class="nav">
            <a href="/customer" class=" nav-elem ">Home</a>
            <a href="/wallet" class=" nav-elem">My Wallet</a>
            <a href="/plans" class=" nav-elem active">Offered Plans</a>
            <a href="/benefits" class=" nav-elem ">My Benefits</a>
            <a href="/shops" class=" nav-elem">Shops</a>
        </ul>
      </div>

      <div class="plansContainer">
        <% for( let i = 0; i < service.length; i++ ) { %>
                <div class = 'plansBox'>
                  <% for( let index = 0; index < unsub.length; index++ ) { %>
                    <% if (service[i].planID === unsub[index].planID) { %>
                      <h2><%= service[i].name %> Subscribed</h2>
                      <h3>Price: <%= service[i].price %> $</h3>
                      <h4> SMS: <%= service[i].SMS_offered %></h4>
                      <h4> Minutes: <%= service[i].minutes_offered %></h4>
                      <h4> Data: <%= service[i].data_offered %> GB</h4>
                      <p><%= service[i].description %></p>
                      <% break; %>
                      <% } else { %>
                        <h2><%= service[i].name %> Unsubscribed</h2>
                        <h3>Price: <%= service[i].price %> $</h3>
                        <h4> SMS: <%= service[i].SMS_offered %></h4>
                        <h4> Minutes: <%= service[i].minutes_offered %></h4>
                        <h4> Data: <%= service[i].data_offered %> GB</h4>
                        <p><%= service[i].description %></p>
                        <% break %>
                    <% } %>
                    
                     
                    <% } %>
                  </div>
            <% } %>


      </div>








      <script>
      let items = document.querySelectorAll('a');
        items.forEach(item => {
          item.addEventListener('click', () => {
             items.forEach(item => item.classList.remove('active'))
              item.classList.add('active')
          })
        })
        </script>


        
    
</body>
</html>