<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />
    <title>Vouchers</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  body {
    height: 100vh;
    background: #131315;
    background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
    display: grid;
    grid-template-columns: 20% 80%;
  }
  a{
    text-decoration: none;
  }
  .cont{
    width:100%;
   display: flex;
   flex-direction: column;
    }
    .vouchs{
      width:80%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    margin-bottom:20px;
    }
  .main{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }
  li{
    color:#c7fffb;
  }
  .nav {
    background: #1d1d1f;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100vh;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
  }
  .nav h2{
    font-size: 15px;
    color:#c7fffb;
    margin-bottom:30px;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    margin-left:0;
    text-align: center;
  }
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #c7fffb;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #2d3138;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#26656a;
  }
  
  .nav:hover {
    width: 250px;
  }
    
    .title{
      margin-bottom: 60px;
      color: #c7fffb;
    }


    .benefitsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:stretch;
        color: white;
    }

    .benefitBox
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 20px;
        border:  3px solid #c7fffb ;
        text-align: center;
        border-radius: 25px;
        padding: 40px;
    }

    .benefitBoxHIGH
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 20px;
        border:  3px solid #c7fffb ;
        text-align: center;
        border-radius: 25px;
        padding: 40px;
        background-color: #19c125;
    }

    .benefitBox h2{
        padding-bottom: 10px;
    }

    .input-container{
  display:flex;
  flex-direction: row;
  width:300px;
  height:35px;
  border-radius:1rem ;
  background-color: transparent;
  border:2px solid #50f8f3;
  margin-left:-8px;
}

input {
  outline: none;
  outline-style: none;
}

.inputs{
  width:100%;
  height:95%;
  border-radius:1rem;
  background-color: transparent;
  font-size: 15px;
  color:#effefd;
  border:none;
  padding-left:15px;
}

.inputs::placeholder{
  font-size:15px;
  margin-left: 30px;
  background-color: transparent;
}

form{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:90%;
  gap:20px;
  margin-left:-6%;
  margin-bottom: 7%;
}
  .space{
    width:25px;
}
label{
  color:#c7fffb;
  width:100px;
  margin-left: 5px;
}
.modal {
        display: block; /* Hidden by default */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: black;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4); /* Black with opacity */
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color:#2d8a84;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
div.container {
  max-width: 1350px;
  overflow: hidden
}
.upcomming {
  font-size: 45px;
  text-transform: uppercase;
  border-left: 14px solid #26656a;
  padding-left: 12px;
  margin: 18px 8px;
}
.container .item {
  width: 100%;
  float: left;
  padding: 0 20px;
  background: #fff;
  overflow: hidden;
  margin: 10px;
  height:100%;
}
.container .item-right, .container .item-left {
  float: left;
  padding: 20px 
}
.container .item-right {
  padding: 79px 50px;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 150px;
}
.container .item-right .up-border, .container .item-right .down-border {
    padding: 14px 15px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute
}
.container .item-right .up-border {
  top: -8px;
  right: -35px;
}
.container .item-right .down-border {
  bottom: -13px;
  right: -35px;
}
.container .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111
}
.container .item-right .day, .container .item-left .event {
  color: #555;
  font-size: 20px;
  margin-bottom: 9px;
}
.container .item-right .day {
  text-align: center;
  font-size: 25px;
}
.container .item-left {
  width: 71%;
  padding: 34px 0px 19px 46px;
  border-left: 3px dotted #999;
} 
.container .item-left .title {
  color: #111;
  font-size: 34px;
  margin-bottom: 12px
}
.container .item-left .sce {
  margin-top: 5px;
  display: block
}
.container .item-left .sce .icon, .container .item-left .sce p,
.container .item-left .loc .icon, .container .item-left .loc p{
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.container .item-left .sce .icon, .container .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666
}
.container .item-left .loc {display: block}
.fix {clear: both}
.container .item .tickets, .booked, .cancel{
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}

    </style>
</head>
<script>

  // Stop the form resubmission on page refresh
  
  if ( window.history.replaceState ) {
  
  window.history.replaceState( null, null, window.location.href );
  
  }
  
</script>
<body>
  <div class="cont">
    <ul class="nav">
      <h2 class="wel"><%= name %></h2>
      <a href="/customer" class=" nav-elem">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem">My Benefits</a>
      <a href="/shops" class=" nav-elem">Shops</a>
      <a href="/myplans" class=" nav-elem">Plan Search</a>
      <a href="/vouchers" class=" nav-elem active">My Vouchers</a>
      <a href="/renew" class=" nav-elem">Transactions</a>

    </ul>
  </div>
  
  
      <div class="benefitsContainer">
        <div class="container">
          <h1 class="upcomming">Your Vouchers</h1>
          <div class="vouchs">
        <% for( let i = 0; i < dish.vouchers.length; i++ ) { %>
            <% if (dish.vouchers[i].voucherID == dish.highestVoucher) { %>
              <div class="item">
                <div class="item-right">
                  <p class="day">ID</p>
                  <h2 class="num"><%= dish.vouchers[i].voucherID %></h2>
                  <span class="up-border"></span>
                  <span class="down-border"></span>
                </div> <!-- end item-right -->
                
                <div class="item-left">
                  <p class="event" style="border-top:2px solid #26656a;border-bottom:2px solid #26656a; color:#26656a;">Highest Voucher</p>
                  <h2 class="title">Value: <%= dish.vouchers[i].value %></h2>
                  
                  <div class="sce">
                    <div class="icon">
                      <i class="fa fa-table"></i>
                    </div>
                    <p>Expiry Date: <%= dish.vouchers[i].expiry_date.toUTCString().slice(0,16) %></p>
                  </div>
                  <div class="fix"></div>
                  <div class="loc">
                    <div class="icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                  </div>
                  <div class="fix"></div>
                  <form method = 'post'>
                    <button class="button-89" name='action'  value = '<%=  dish.vouchers[i].voucherID %>' type = 'submit' role="button">Redeem</button>
                  </form>
                </div> <!-- end item-right -->
              </div>
                <% } %>
            <%  if (dish.vouchers[i].voucherID != dish.highestVoucher) { %>
              <div class="item">
                <div class="item-right">
                  <p class="day">ID</p>
                  <h2 class="num"><%= dish.vouchers[i].voucherID %></h2>
                  <span class="up-border"></span>
                  <span class="down-border"></span>
                </div> <!-- end item-right -->
                
                <div class="item-left">
                  <p class="event">Voucher</p>
                  <h2 class="title">Value: <%= dish.vouchers[i].value %></h2>
                  
                  <div class="sce">
                    <div class="icon">
                      <i class="fa fa-table"></i>
                    </div>
                    <p>Expiry Date: <%= dish.vouchers[i].expiry_date.toUTCString().slice(0,16) %></p>
                  </div>
                  <div class="fix"></div>
                  <div class="loc">
                    <div class="icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                  </div>
                  <div class="fix"></div>
                  <form method = 'post'>
                    <button class="button-89" name='action'  value = '<%=  dish.vouchers[i].voucherID %>' type = 'submit' role="button">Redeem</button>
                  </form>                </div> <!-- end item-right -->
              </div>
             <% } %>
                
        <% } %>
      </div>
      </div>
            <!-- <form method="post">
              <div class="input-container"> 
                <input class="inputs" placeholder="Voucher ID" type="number" name="voucher" id="plann" required>
              </div>
              <button type="submit">Redeem</button>
              </form> -->
              <% if (success < 2) { %>
               <div id="successModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <% if (success == 1) { %>
                        <p id="errorMessage">Voucher redeemed successfully</p>
                    <% } %>
                    <% if (success == 0) { %>
                        <p id="errorMessage">Voucher expired or not enough points</p>
                    <% } %>  <!-- Display error message -->
                </div>
            </div>
              <% } %>
                

          
      </div>
      <script>
        const success =  '<%= success || "" %>';
        var span = document.getElementsByClassName("close")[0];
         

             span.onclick = function() {
             var modal = document.getElementById("successModal");
             modal.style.display = "none";
         }
      
         window.onclick = function(event) {
             var modal = document.getElementById("successModal");
             if (event.target == modal) {
                 modal.style.display = "none";
             }
         }
         
 
      </script>

      


        
    
</body>
</html>